@use '../../../scss/responsive' as *;
.singer-detail {
  &-profile {
    font-size: var(--font-size-xl);
    line-height: 1.4;
    font-weight: 400;
    padding-right: 100px;
    padding-left: 20px;
    @include mobile-tablet {
      margin: 0;
      margin-bottom: 20px;
      padding: 0 10px;
    }
  }
}
