@import '../../scss/responsive';
.home-page {
  section.home-section {
    margin: 40px 0;
  }

  //Custom css home ranking
  .home-section__rank {
    .card-song-skeletons {
      .skeleton {
        &-button {
          @include desktop {
            display: none;
          }
        }
      }
    }
    margin-top: 20px;
    .song-container {
      &-header {
        button {
          @include desktop {
            display: none;
          }
        }
      }
      .card-song {
        @include desktop {
          padding: 5px 5px;
          justify-content: space-between;
        }
        &-content {
          @include desktop {
            flex: 1;
          }
          &-index {
            @include desktop {
              width: 30px;
              font-size: var(--font-size-xl);
              text-align: left;
            }
            &--1,
            &--2,
            &--3 {
              @include desktop {
                font-size: var(--font-size-hg);
              }
            }
            @include mobile {
              width: 25px;
            }
            // text-align: left;
          }
          &__name {
            @include desktop {
              max-width: 150px;
            }
          }
        }
        &-info {
          &__singers {
            @include desktop {
              display: flex;
              align-items: center;
              flex-wrap: nowrap;
            }
            &-link {
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              display: -webkit-box;
            }
          }
        }
        &-views {
          @include desktop {
            flex: 0;
            display: none;
          }
        }
        &-action {
          // display: none;
          @include desktop {
            flex: 0;
          }
          p.icon.icon--cursor:first-child {
            @include desktop {
              display: none;
            }
          }
        }
      }
    }
  }
}
