.auths-form {
  .btn {
    &--auth {
      padding: 10px 0;
    }
    &--google {
      &:hover {
        background: #e74c3c;
        color: var(--color-white);
      }
    }
  }
}
.login-google {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
