@use '../.../../../../scss/responsive' as *;

.player-option {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;

  @include mobile-tablet {
    display: none;
    flex: none;
  }
  @include desktop-sm {
    width: 100px;
    flex: none;
  }
  &-video {
    margin-top: 1px;
    margin-right: 10px;
    font-size: var(--font-size-lg);
    &.disabled {
      cursor: not-allowed;
      color: grey;
      &:hover {
        color: grey;
      }
    }
    &.active {
      color: var(--color-purple-light);
    }
    &:hover {
      color: var(--color-purple);
    }
  }
  &-volume {
    display: flex;
    align-items: center;
    input {
      width: 100px;
    }
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
    @include desktop-sm {
      display: none;
    }
    span {
      margin-right: 8px;
      color: var(--color-white);
    }
  }
  &-menu {
    margin-left: 20px;
    position: relative;
    font-size: var(--font-size-hg);
    .total-songs {
      position: absolute;
      font-size: var(--font-size-sm);
      width: 25px;
      height: 25px;
      background: #f27121;
      top: -10px;
      left: -13px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-weight: bold;
      animation: animateIconBounce 10s forwards infinite;
      animation-delay: 3s;
      user-select: none;
      // cursor: pointer;

      color: var(--color-white);
    }
    &.active {
      color: var(--color-purple-light);
    }
  }
}
