$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;

$tn: 420px;
$sm: 576px;
$md: 768px;
$lt: 865px;
$lg: 992px;
$xl: 1200px;

@mixin mobile-small {
  @media (max-width: #{$tn - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin tablet-laptop {
  @media (min-width: #{$sm}) and (max-width: #{$lg - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$md}) and (max-width: #{$lt - 1px}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (min-width: #{$sm}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$xl}) {
    @content;
  }
}

.hide-on-mobile {
  @include mobile {
    display: none !important;
  }
}

.show-on-tablet {
  display: none !important;

  @include tablet {
    display: flex !important;
  }
}
.show-on-mobile {
  display: none !important;

  @include mobile {
    display: flex !important;
  }
}

.hide-on-tablet {
  @include tablet {
    display: none !important;
  }
}

.hide-on-laptop {
  @include laptop {
    display: none !important;
  }
}

.hide-on-desktop-sm {
  @include desktop-sm {
    display: none !important;
  }
}

.hide-on-desktop {
  @include desktop {
    display: none !important;
  }
}

.container-fluid {
  @include mobile {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.hide-on-pc {
  display: none !important;

  @include mobile-tablet {
    display: flex !important;
  }

  @include laptop {
    display: flex !important;
  }
}

.no-padding {
  padding: 0;
}
.app .container-md {
  overflow: hidden;
}
