.card-song-skeletons {
  &-item {
    // height: 55px;
    width: 100%;
    background: var(--color-grey-3);
    margin: 8px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    overflow: hidden;
    .skeleton {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      &__image {
        width: 50px;
        height: 50px;
        background: var(--color-grey-2);
        border-radius: 6px;
        margin-right: 20px;
        animation: animateOpacity 2s ease-in-out infinite;
      }
      &-info {
        flex: 1;
        &__name {
          width: 60%;
          min-width: 150px;
          max-width: 300px;
          height: 20px;
          background: var(--color-grey-2);
          margin-bottom: 8px;
          border-radius: 5px;
          animation: animateOpacity 2s ease-in-out infinite;
        }
        &__singer {
          width: 80px;
          height: 12px;
          background: var(--color-grey-2);
          border-radius: 5px;
          animation: animateOpacity 2s ease-in-out infinite;
        }
      }
      &-button {
        display: flex;
        align-items: center;
        &__item {
          width: 25px;
          height: 25px;
          border-radius: 5px;
          background: var(--color-grey-2);
          margin: 0 5px;
          animation: animateOpacity 2s ease-in-out infinite;
        }
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: 150px;
      height: 150%;
      background-color: rgba(243, 239, 239, 0.8);
      transform: skew(35deg);
      border-radius: 10px;
      animation: animateFromLeftToRight 1.2s ease-in-out infinite;
    }
    // &::after {
    //   border-radius: 10px 0 0 10px;
    //   content: '';
    //   position: absolute;
    //   width: 25%;
    //   height: 100%;
    //   left: 0;
    //   top: 0;
    //   background-color: var(--color-grey-2);
    // }
  }
}
@keyframes animateFromLeftToRight {
  0% {
    transform: skew(35deg) translateX(-100%);
  }
  100% {
    transform: skew(35deg) translateX(1800%);
  }
}
@keyframes animateOpacity {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
