.card-singer {
  margin-bottom: 20px;
  // .card-singer--circle
  &:hover {
    .card-singer-link {
      &-image__img {
        transform: scale(1.2);
      }
    }
  }
  &--circle {
    .card-singer__img {
      border-radius: 50%;
    }
  }
  // .card-singer-link
  &-link {
    display: block;
    overflow: hidden;
    // .card-singer-link__img
    &-image {
      overflow: hidden;
      border-radius: 14px;
      &__img {
        border-radius: 14px;
        width: 100%;
        object-fit: fill;
      }
    }
    // .card-singer-link__name
    &__name {
      margin-top: 10px;
      text-align: center;
      font-size: var(--font-size-lg);
    }
  }
}
