.card-singer {
  margin-bottom: 20px;
  // .card-singer--circle
  &--circle {
    .card-singer__img {
      border-radius: 50%;
    }
  }
  // .card-singer-link
  &-link {
    display: block;
    overflow: hidden;
    // .card-singer-link__img
    &__img {
      border-radius: 14px;
      width: 100%;
      object-fit: fill;
    }
    // .card-singer-link__name
    &__name {
      margin-top: 10px;
      text-align: center;
      font-size: var(--font-size-lg);
    }
  }
}
